{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css' %}">

{% endblock %}

{% block content %}
    <div class="main-content" style="min-height: 569px;">

        <section class="section" style="margin-top: 12px;">
            <div class="section-header">

                <h1>Announcement</h1>

                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">Dashboard</div>
                    <div class="breadcrumb-item">Announcement</div>

                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background-color: #000054; color: white;">
                            <h4>Sortable Table</h4>
                            <div class="card-header-action">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped" id="sortable-table" >
                                    <thead>
                                    <tr class="blue-background">
                                        <th style="background-color: #000054; color: white;">DATE</th>
                                        <th>PO#</th>
                                        <th>PURCHASER</th>
                                        <th>ITEM CODE</th>
                                        <th>PARTICULAR</th>
                                        <th>QTY</th>
                                        <th>UNIT</th>
                                        <th>PRICE</th>
                                        <th>TOTAL AMOUNT</th>
                                        <th>SITE DELIVERED</th>
                                        <th>FBBD DR#</th>
                                        <th>REMARKS</th>
                                        <th>SUPPLIER</th>
                                        <th>REMARKS</th>
                                        <th>DELIVERY REF#</th>
                                        <th>INVOICE#</th>
                                        <th>PAYMENT DETAILS</th>
                                        <th>PAYMENT REQ.#</th>
                                        <th>REMARKS</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="white-space: nowrap;">08-09-2024</td>
                                        <td>PO# 0001</td>
                                        <td>CATHERINE</td>
                                        <td>
                                            <a href="#">2MMTHHNPDBLUE</a>
                                        </td>
                                        <td style="white-space: nowrap;">2.0MM THHN PD</td>
                                        <td>12</td>
                                        <td>ROLL</td>
                                        <td>1,000.00</td>
                                        <td>12,000.00</td>
                                        <td>SORSU DORM</td>
                                        <td>FBBD-0001</td>
                                        <td>GOOD</td>
                                        <td>WIREMASTER</td>
                                        <td>GOOD</td>
                                        <td>DEL-0001</td>
                                        <td>INV-0001</td>
                                        <td>PAID</td>
                                        <td>REQ-0001</td>
                                        <td>GOOD</td>



                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}


