{% extends 'frontdeskbase.html' %}

{% block title %}Front Desk Dashboard{% endblock %}

{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div class="main-wrapper container-fluid">
            <div class="main-content">
                <section class="section container-fluid">
                    <div class="section-body">
                        <div class="card card-desk">
                            <div class="card-header">
                                <h4>PURCHASE ORDER TABLE</h4>
                                <div class="card-header-action d-flex align-items-center justify-content-between">
                                    <h4 class="mr-3 mb-0">Move Selected Orders</h4>
                                    <form id="move-orders-form" method="post" action="{% url 'move_orders_to_folder' %}"
                                          class="card-header-form">
                                        {% csrf_token %}
                                        <div class="btn-group">
                                            <select id="folder-select" name="folder" class="form-control" required>
                                                <option value="">-- Select a Folder --</option>
                                                {% for folder in folders %}
                                                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <button type="submit" class="btn btn-secondary btn-move-icon ml-2">Move <i
                                                    class="fas fa-folder"></i></button>
                                        </div>
                                        <div id="selected-orders"></div>
                                    </form>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color: darkgreen; color: white;">
                                            <h4>Purchase Order Data Table</h4>
                                            <div class="card-header-action">
                                                <form method="get" action=""
                                                      class="form-inline justify-content-center col-12">
                                                    <div class="input-group">
                                                        <input type="text" name="q" class="form-control"
                                                               placeholder="Search" value="{{ request.GET.q }}">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-primary" type="submit"><i
                                                                    class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        {% if request.GET.q %}
                                                            <a href="{% url 'purchase_order_list' %}"
                                                               class="btn btn-outline-primary">Clear Filter</a>
                                                        {% endif %}
                                                    </div>
                                                    <a href="{% url 'purchase_order_create' %}" class="btn btn-primary">Add</a>
                                                </form>
                                            </div>

                                            <div class="row">
                                                <div class="col-auto">
                                                    <form action="{% url 'export_orders_to_excel' %}" method="get">
                                                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                        <input type="hidden" name="date" value="{{ request.GET.date }}">
                                                        <button type="submit" class="btn btn-primary">Export to Excel
                                                        </button>
                                                    </form>
                                                </div>
                                                <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload
                                                    File</a>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped" id="sortable-table">
                                                    <thead>
                                                    <tr class="green-background">
                                                        <th style="color: white; width: 10px; text-align: center;">#
                                                        </th>
                                                        <th style="color: white;">ACTIONS</th>
                                                        <th style="white-space: nowrap; color: white;">DATE</th>
                                                        <th style="color: white;">PO#</th>
                                                        <th style="color: white;">PURCHASER</th>
                                                        <th class="no-wrap" style="color: white;">ITEM CODE</th>
                                                        <th style="color: white;">PARTICULAR</th>
                                                        <th style="color: white;">QTY</th>
                                                        <th style="color: white;">UNIT</th>
                                                        <th style="color: white;">PRICE</th>
                                                        <th class="no-wrap" style="color: white;">TOTAL AMOUNT</th>
                                                        <th class="no-wrap" style="color: white;">SITE DELIVERED</th>
                                                        <th class="no-wrap" style="color: white;">FBBD DR#</th>
                                                        <th style="color: white;">REMARKS</th>
                                                        <th style="color: white;">SUPPLIER</th>
                                                        <th class="no-wrap" style="color: white;">DELIVERY REF#</th>
                                                        <th style="color: white;">INVOICE#</th>
                                                        <th class="no-wrap" style="color: white;">PAYMENT DETAILS</th>
                                                        <th class="no-wrap" style="color: white;">PAYMENT REQ.#</th>
                                                        <th style="color: white;">REMARKS</th>
                                                        <th style="color: white;">
                                                            <input type="checkbox" id="select-all">
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for order in orders %}
                                                        <tr role="row" class="odd">
                                                            <td style="width: 10px; text-align: center;">{{ forloop.counter }}</td>
                                                            <td>
                                                                <!-- Edit button -->
                                                                <a href="{% url 'purchase_order_edit' order.id %}"
                                                                   class="btn btn-dark btn-sm"
                                                                   style="width: 75px;">Edit</a>
                                                            </td>
                                                            <td class="no-wrap">{{ order.date }}</td>
                                                            <td>{{ order.po_number }}</td>
                                                            <td class="no-wrap">{{ order.purchaser }}</td>
                                                            <td>{{ order.item_code }}</td>
                                                            <td class="no-wrap">{{ order.particulars }}</td>
                                                            <td>{{ order.quantity }}</td>
                                                            <td>{{ order.unit }}</td>
                                                            <td>{{ order.price|floatformat:2|intcomma }}</td>
                                                            <td>{{ order.total_amount|floatformat:2|intcomma }}</td>
                                                            <td class="no-wrap">{{ order.site_delivered }}</td>
                                                            <td>{{ order.fbbd_ref_number }}</td>
                                                            <td>{{ order.remarks }}</td>
                                                            <td class="no-wrap">{{ order.supplier }}</td>
                                                            <td>{{ order.delivery_ref }}</td>
                                                            <td>{{ order.invoice_no }}</td>
                                                            <td>{{ order.payment_details }}</td>
                                                            <td>{{ order.payment_req_ref }}</td>
                                                            <td>
                                                                    <span class="remarks2-badge"
                                                                          style="background-color: {{ order.remarks2_badge }};
                                                                                  color: white;
                                                                                  padding: 5px 10px;
                                                                                  border-radius: 20px;
                                                                                  display: inline-block;
                                                                                  white-space: nowrap;">
                                                                        {{ order.remarks2 }}
                                                                    </span>
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" class="select-row"
                                                                       data-id="{{ order.id }}">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- Pagination Controls -->
                                            <div class="pagination-wrapper">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center">
                                                        {% if orders.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?page=


                                                                           {{ orders.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if date_query %}&date={{ date_query }}{% endif %}"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        {% for num in orders.paginator.page_range %}
                                                            <li class="page-item {% if orders.number == num %}active{% endif %}">
                                                                <a class="page-link"
                                                                   href="?page=


                                                                           {{ num }}{% if query %}&q={{ query }}{% endif %}{% if date_query %}&date={{ date_query }}{% endif %}">{{ num }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        {% if orders.has_next %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page=
                                                                        {{ orders.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if date_query %}&date={{ date_query }}{% endif %}"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        <!-- Link to Last Page -->
                                                        <li class="page-item {% if orders.number == orders.paginator.num_pages %}active{% endif %}">
                                                            <a class="page-link" href="?page=
                                                                    {{ orders.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if date_query %}&date={{ date_query }}{% endif %}">
                                                                Last</a>
                                                        </li>

                                                    </ul>
                                                </nav>
                                            </div>
                                            <form method="get" action="" class="form-inline justify-content-center">
                                                <input type="hidden" name="q" value="{{ query }}">
                                                <input type="hidden" name="date" value="{{ date_query }}">
                                                <div class="form-group mb-2">
                                                    <label for="page-number" class="sr-only">Page</label>
                                                    <input type="number" class="form-control" id="page-number"
                                                           name="page" min="1"
                                                           max="{{ orders.paginator.num_pages }}"
                                                           placeholder="Page No." required style="width: 120px;"
                                                           oninput="this.value = this.value.trim();">
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2" style="width: 70px;">
                                                    Go
                                                </button>
                                            </form>

                                            <p>Page {{ orders.number }} of {{ orders.paginator.num_pages }}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The orders have been moved successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    There was an error processing your request. Please try again.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectAllCheckbox = document.getElementById('select-all');
            const rowCheckboxes = document.querySelectorAll('.select-row');
            const selectedOrdersDiv = document.getElementById('selected-orders');

            function updateSelectedOrders() {
                selectedOrdersDiv.innerHTML = ''; // Clear existing hidden inputs
                rowCheckboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = 'orders'; // Ensure this matches your view
                        hiddenInput.value = checkbox.dataset.id;
                        selectedOrdersDiv.appendChild(hiddenInput);
                    }
                });
            }

            selectAllCheckbox.addEventListener('change', function () {
                const isChecked = selectAllCheckbox.checked;
                rowCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
                updateSelectedOrders();
            });

            rowCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (!this.checked) {
                        selectAllCheckbox.checked = false;
                    }
                    if (document.querySelectorAll('.select-row:checked').length === rowCheckboxes.length) {
                        selectAllCheckbox.checked = true;
                    }
                    updateSelectedOrders();
                });
            });
        });


    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectAllCheckbox = document.getElementById('select-all');
            const rowCheckboxes = document.querySelectorAll('.select-row');
            const selectedOrdersDiv = document.getElementById('selected-orders');

            function updateSelectedOrders() {
                selectedOrdersDiv.innerHTML = ''; // Clear existing hidden inputs
                rowCheckboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = 'orders'; // Ensure this matches your view
                        hiddenInput.value = checkbox.dataset.id;
                        selectedOrdersDiv.appendChild(hiddenInput);
                    }
                });
            }

            selectAllCheckbox.addEventListener('change', function () {
                const isChecked = selectAllCheckbox.checked;
                rowCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
                updateSelectedOrders();
            });

            rowCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (!this.checked) {
                        selectAllCheckbox.checked = false;
                    }
                    if (document.querySelectorAll('.select-row:checked').length === rowCheckboxes.length) {
                        selectAllCheckbox.checked = true;
                    }
                    updateSelectedOrders();
                });
            });

            // Assuming you use Django messages framework to pass success or error messages
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        $('#successModal').modal('show');
                    {% elif message.tags == 'error' %}
                        $('#errorModal').modal('show');
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>

    <script>
        document.getElementById('okButton').addEventListener('click', function () {
            // Hide the modal
            $('#successModal').modal('hide');

            // Show the loader after the modal is closed
            $('#successModal').on('hidden.bs.modal', function () {
                showLoader();

                // Perform any additional actions here, like redirecting or reloading the page
                window.location.reload();
            });
        });

        function showLoader() {
            // Display the loader here
            document.getElementById('loader').style.display = 'block';
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('move-orders-form');
            const successModal = new bootstrap.Modal(document.getElementById('success-modal'));
            const errorModal = new bootstrap.Modal(document.getElementById('error-modal'));

            // Handle form submission
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // Simulate form submission (replace with actual submission logic)
                const xhr = new XMLHttpRequest();
                xhr.open('POST', form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('[name=csrfmiddlewaretoken]').value);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // Success
                        successModal.show();
                        // Reload page after closing modal
                        document.querySelector('#success-modal .btn-secondary').addEventListener('click', function () {
                            window.location.reload();
                        });
                    } else {
                        // Error
                        errorModal.show();
                    }
                };
                xhr.send(new FormData(form));
            });

            // Hide 'None' text
            document.querySelectorAll('td').forEach(td => {
                if (td.textContent.trim() === 'None') {
                    td.innerHTML = '<span style="visibility: hidden;">None</span>';
                }
            });

            // Select/Deselect All Checkboxes
            document.getElementById('select-all').addEventListener('change', function () {
                document.querySelectorAll('.select-row').forEach(checkbox => {
                    checkbox.checked = this.checked;
                });
            });
        });
    </script>


{% endblock %}

