<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'move_orders_to_folder' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="selected_orders" value="{{ order_ids }}">
    <button type="submit" class="btn btn-primary">Move Orders</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const selectedOrdersInput = document.getElementById('selected-orders');

        form.addEventListener('submit', function (event) {
            const selectedOrders = Array.from(document.querySelectorAll('.select-row:checked'))
                                        .map(checkbox => checkbox.dataset.id);
            selectedOrdersInput.value = selectedOrders.join(',');
        });
    });
</script>
</body>
</html>