{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Panel | SorSU-BC Monitoring System</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/FBBDicon.png' %}">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/newloader.css' %}">
</head>

<body style="background-color: #e7e7e7; background-image: url('{% static 'assets/img/Lpage05.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

<div class="wrapper" id="loader">
        <div class="three-body">
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
        </div>
    </div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="login-brand text-center mb-4">
                <img src="{% static 'assets/img/FBBDLogo.png' %}" alt="logo" width="200" class="shadow-light rounded-circle"
                style="margin-top: -20px;">
            </div>

            <div class="card card-primary" style="background-color: rgba(255, 255, 255, 0.9);">
                <div class="card-header text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="alert alert-danger" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'assets/modules/jquery.min.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="assets/modules/jquery.min.js"></script>
<script src="assets/modules/popper.js"></script>
<script src="assets/modules/tooltip.js"></script>
<script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="assets/modules/moment.min.js"></script>
<script src="assets/js/stisla.js"></script>

<!-- JS Libraies -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="assets/js/scripts.js"></script>
<script src="assets/js/custom.js"></script>

 <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById('loader');

            setTimeout(function () {
                loader.style.opacity = '0'; // Start fading out
                setTimeout(function () {
                    loader.style.display = 'none';
                }, 300); // Hide the loader 300ms after fading out
            }, 1500); // Start fading out after 1.5 seconds
        });
    </script>
</body>
</html>
